.executr-code-editor {
	overflow: hidden;
	position: relative;
}

.executr-code-editor .executr-run-button {
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: #DDD;
	border: none;
	font-size: 24px;
	opacity: 0.5;
	width: 84px;
}

.executr-code-editor .executr-run-button:hover {
	opacity: 0.8;
}
